@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}
:root{
    --primary: #E4CD70;
    --secondery: #16163F;
    --font-color: #fff;
}
.container{
    padding: 0 5rem;
    margin: 0 auto;
}
/* ==========Top Nav start=========== */
.top{
    width: 100%;
    background-color: var(--secondery);
    height: fit-content;
}
.top-nav{
    display: flex;
    justify-content: space-between;
    height: 3rem;
    padding: 0 5rem;
}
.top-nav .top-nav-left{
    display: flex;
}
.top-nav .top-nav-left .top-contact{
    display: flex;
    align-items: center;
    margin-right: 1.2rem;
    color: var(--font-color);
}
.top-nav .top-nav-left .top-contact i{
    font-size: 1rem;
    margin-right: .4rem;
}
.top-nav .top-nav-left .top-contact p{
    font-size: .8rem;
}
.top-nav .top-nav-right{
    display: flex;
    align-items: center;
}
.top-nav .top-nav-right i{
    margin-left: 1rem;
    font-size: .8rem;
    padding: .5rem;
    background-color: var(--primary);
    border-radius: 50%;
    transition: .2s ease-in;
}
.top-nav .top-nav-right a{
    color: var(--font-color);
    margin-left: .4rem;
    transition: transform .2s ease-in;
}
.top-nav .top-nav-right a:hover{
    transform: translateY(-.5rem);
    color: var(--primary);
}
.top-nav .top-nav-right a:hover i{
    background-color: var(--font-color);
}
/* ==========Top Nav End=========== */
/* ==========Bottom Nav Start=========== */
.main-nav-bg{
    background-color: var(--font-color);
    height: fit-content;
}
.main-nav{
    padding: 0 5rem;
    height: 6rem;
    display: flex;
    align-items: center;
}
.main-nav .main-nav-left{
    height: 6rem;
    flex: 1;
}
.main-nav-left img{
    height: 100%;
}
.main-nav-right{
    flex: 6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-nav-right ul{
    display: flex;
    align-items: center;
    margin-left: 4rem;
}
.main-nav-right ul li{
    list-style: none;
}
.main-nav-right ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 600;
    letter-spacing: 1.2;
    color: var(--secondery);
    padding: .8rem 1.2rem;
   
}
.main-nav-right #nav-btn{
    text-decoration: none;
    font-size: .9rem;
    font-weight: 600;
    padding: .8rem 1.5rem;
    position: relative;
    transition: .3s ease-in .4s;
}
.main-nav-right #nav-btn:hover{
    color: var(--font-color);
    background-color: var(--secondery);
}
.main-nav-right #nav-btn::before{
    content: '';
    height: 0;
    width: 0;
    border: 2px solid transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    transition: height .2s linear, width .3s linear .2s;
}
.main-nav-right #nav-btn:hover::before{
    height: 100%;
    width: 100%;
    border: 2px solid #16163F;
    border-right: none;
    border-bottom: none;
}
.main-nav-right #nav-btn::after{
    content: '';
    height: 0;
    width: 0;
    border: 2px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    transition: height .2s linear, width .3s linear .2s;
}
.main-nav-right #nav-btn:hover::after{
    height: 100%;
    width: 100%;
    border: 2px solid #16163F;
    border-left: none;
    border-top: none;
}

















@media only screen and (min-width: 1326px){
    .container{
        max-width: 1200px;
        padding: 0;
    }
    
    .top-nav{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0;
    }
    .main-nav{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0;
    }
}